<h1 mat-dialog-title>Update details</h1>
<div mat-dialog-content>
  <p>Describe the Animal</p>
  <mat-form-field appearance="fill" style="widows: 550px!important;">

     <p>Name:-</p>
      <textarea [(ngModel)]="data.name" rows="1" cols="50">{{data.name}}</textarea>
    
     
    <p>Description:-</p>
    
    <textarea [(ngModel)]="data.description" rows="1" cols="50">{{data.description}}</textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>