<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{plant.name}}</mat-card-title>
    </mat-card-header>
    <!---
    Here instead of static Image Dynamic Image would be possible -->
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{plant.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openDialog()">UPDATE</button>
        <button mat-button (click)="addToList()" *ngIf="id===null">ADD TO MY LIST</button>
    </mat-card-actions>
</mat-card>

